<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>IT Systems Site</title>

		<link rel="stylesheet" type="text/css" href="../stylesheets/forgot.css" />
	</head>
	<body ng-controller="ForgotController">
		<md-dialog class="forgot-popup">
			<form ng-submit="changePassword()" id="change">
				<div class="pair">
					<label for="new-password">New Password:</label>
					<input type="password" minlength="8" ng-model="newPassword" id="new-password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required />
				</div>

				<div class="pair">
					<label for="confirm-password">Confirm Password:</label>
					<input type="password" ng-model="confirmPassword" id="confirm-password" required />
				</div>

				<div id="buttons">
					<input type="button" id="cancel" class="button" ng-click="cancel()" value="Cancel" />
					<input type="submit" id="change-password" class="button" value="Change Password"/>
				</div>
			</form>
		</md-dialog>
	</body>
</html>