<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>IT Systems Site</title>

		<link rel="stylesheet" type="text/css" href="../stylesheets/forgot.css" />
		<script src="../javascripts/forgot.js"></script>
	</head>
	<body onload="loadPage()">
		<!--<md-dialog class="forgot-popup">-->
		<div id="update">
			<form id="change" action="#" onsubmit="changePassword(event)">
				<div class="pair">
					<label for="new-password">New Password:</label>
					<input type="password" minlength="8" ng-model="newPassword" id="new-password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required />
				</div>

				<div class="pair">
					<label for="confirm-password">Confirm Password:</label>
					<input type="password" ng-model="confirmPassword" id="confirm-password" oninput="checkMatching(this)" required />
				</div>

				<!--<div id="buttons">-->
					<!--<input type="button" id="cancel" class="button" ng-click="cancel()" value="Cancel" />-->
					<input type="submit" id="change-password" class="button" value="Change Password"/>
				<!--</div>-->
			</form>
			<!--</md-dialog>-->
		</div>

		<div id="invalid">
			<h1>Expired Link</h1>
			<h3>This link appears to have expired. You can <a id="resend" href="javascript:window.open(`/api/users/reset?email=${ps.body.email}`)">Request another</a></h3>
		</div>
	</body>
</html>