<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>IT Systems</title>

        <link rel="stylesheet" href="../stylesheets/logout.css" type="text/css"/>
    </head>
    <body ng-controller="LogoutController">
        <md-dialog class="popup-container">
            <main>
                <h1 class="title">See You Later</h1>
                <h4 class="logout-message">You have been signed out and will be redirected in <span id="timer"> {{ timer }}</span> seconds...</h4>
            </main>
        </md-dialog>
    </body>
</html>