<!DOCTYPE html>
<html lang="en" ng-app="IT-Systems">
	<head>
		<meta charset="UTF-8">
		<title>IT Systems</title>

		<link rel="stylesheet" href="../stylesheets/manage.css" type="text/css"/>
	</head>
	<body ng-controller="ManageController as ctrl" onbeforeunload="{{ beforeunload() }}">
		<main id="manage-window" ng-if="granted">
			<h1 class="title">Server Management</h1>
			<h4 class="subtitle">Edit, Add and Remove any servers that are being monitored by the site</h4>
			<!-- TODO: Potentially include a way for the manager to update the checking frequency of the servers within the website -->


			<div id="manage-options">
				<div class="option">
					<input class="radio" type="radio" id="edit" ng-checked="option === 'edit' ? 'checked': ''" ng-model="option" value="edit" ng-change="optionChanged()" name="management" />
					<label for="edit">Edit Servers</label>
				</div>

				<div class="option">
					<input class="radio" type="radio" id="add" ng-model="option" ng-checked="option === 'add' ? 'checked': ''" ng-change="optionChanged()" value="add" name="management" />
					<label for="add">Add Server</label>
				</div>

				<div class="option">
					<input class="radio" type="radio" id="remove" ng-model="option" ng-checked="option === 'remove' ? 'checked': ''" ng-change="optionChanged()" value="remove" name="management" />
					<label for="remove">Remove Server</label>
				</div>

				<input class="option" type="button" id="changeChecks" value="Check Frequency" ng-click="changeFrequency()" />
			</div>

			<div ng-if="option === 'edit' " id="edit-form" class="form-container">
				<!--<label for="editing-servers">Select a Server:</label>-->
				<select id="editing-servers" ng-model="selection.edit" ng-change="changed()">
					<option value="">---Select a Server---</option>
					<option ng-repeat="server in serverList" ng-value="server">{{ server.serverName }}</option>
				</select>

				<form ng-submit="updateServer()" id="editing" ng-show="selected">
					<label for="serverName">Server Name:</label>
					<input type="text" id="serverName" ng-model="selection.edit.serverName" ng-readonly="!selected" required />

					<label for="dnsName">DNS Name:</label>
					<input type="text" id="dnsName" ng-model="selection.edit.dnsName" ng-readonly="!selected" required />

					<label for="ipAddress">IP Address:</label>
					<input type="text" id="ipAddress" ng-model="selection.edit.ipAddress" ng-readonly="!selected" pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" required />

					<div id="status">
						<p id="currentStatus">Current Status</p>
						<label for="up">
							<input type="radio" id="up" ng-model="selection.edit.status" name="status" value="up" /> Up
						</label>

						<label for="down">
							<input type="radio" id="down" ng-model="selection.edit.status" name="status" value="down" /> Down
						</label>

						<label for="maintenance">
							<input type="radio" id="maintenance" ng-model="selection.edit.status" name="status" value="maintenance" /> Under Maintenance
						</label>
					</div>

					<input type="submit" class="submit" value="Update Server" id="editServer"  form="editing"/>
				</form>
			</div>

			<div ng-if="option === 'add'" id="add-form" class="form-container">
				<form ng-submit="addServer()" id="addition">
					<!-- TODO: Add the form to be able to add a server -->
					<label for="newServerName">Server Name:</label>
					<input type="text" id="newServerName" ng-model="newServer.serverName" required />

					<label for="newDNSName">DNS Name:</label>
					<input type="text" id="newDNSName" ng-model="newServer.dnsName" required />

					<label for="newIPAddress">IP Address:</label>
					<input type="text" id="newIPAddress" ng-model="newServer.ipAddress" pattern="^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$" required />

					<input type="submit" class="submit" value="Add Server" id="addServer" form="addition"/>
				</form>
			</div>

			<div ng-if="option === 'remove'" id="remove-form" class="form-container">
				<form ng-submit="confirmRemoval()" id="removal">
					<select id="remove-servers" ng-model="selection.removals" multiple required>
						<option class="selector" ng-repeat="server in serverList" ng-value="server">{{ server.serverName }}</option>
						<!--<option class="selector" value="Option 1">Option 1</option>
						<option class="selector" value="Option 2">Option 2</option>
						<option class="selector" value="Option 3">Option 3</option>
						<option class="selector" value="Option 4">Option 4</option>
						<option class="selector" value="Option 5">Option 5</option>
						<option class="selector" value="Option 6">Option 6</option>
						<option class="selector" value="Option 7">Option 7</option>
						<option class="selector" value="Option 8">Option 8</option>
						<option class="selector" value="Option 9">Option 9</option>
						<option class="selector" value="Option 10">Option 10</option>-->
					</select>

					<div class="remove-buttons">
						<input type="button" class="submit clear remove-button" value="Clear Selections" ng-click="clearSelection()" />
						<input type="submit" class="submit remove remove-button" form="removal" value="Remove Server" />
					</div>
				</form>
			</div>
		</main>
		<section ng-if="!granted" id="denied">
			<h1 class="title">Access Denied</h1>
			<h4 class="subtitle">You do not have permission to access this page.</h4>
			<h6 class="subtitle">Please contact your systems administrator.</h6>
		</section>
	</body>
</html>