<!DOCTYPE html>
<html lang="en" ng-app="IT-Systems">
    <head>
        <meta charset="UTF-8">
        <title>IT Systems</title>

        <link rel="stylesheet" href="../stylesheets/servers.css">
    </head>
    <body ng-controller="ServersController">
        <table id="server-table">
            <thead>
                <tr>
                    <td>Server Name</td>
                    <td>Current Status</td>
                </tr>
            </thead>
            <tbody id="servers">
            </tbody>
        </table>
    </body>
</html>