<!DOCTYPE html>
<html lang="en" ng-app="IT-Systems">
    <head>
        <meta charset="UTF-8">
        <title>IT Systems</title>

        <link rel="stylesheet" href="../stylesheets/servers.css">
    </head>
    <body ng-controller="ServersController">
        <!--<div id="server-controls">
            <a ng-href="/servers/manage" class="hidden manage-servers">Manage</a>
        </div>-->

        <table id="server-table">
            <thead>
                <tr>
                    <td>Server Name</td>
                    <td>Current Status</td>
                </tr>
            </thead>
            <!--<tbody id="servers">
            </tbody>-->
            <tbody>
                <tr ng-repeat="server in servers">
                    <td class="server-name"> {{ server.serverName }} </td>
                    <td class="status"><p class="status-light {{ server.status }}" id="{{ server.serverName }}"></p></td>
                    <!--<td class="hidden edit-btn" ng-if="loggedIn()"><input type="button" class="edit hidden" value="Edit" ng-click="editServerInfo(server)"></td>-->
                </tr>
            </tbody>
        </table>

        <footer>
            <p id="last-checked">{{ lastChecked | date : 'short' : checkTiming() ? 'CST' : 'CDST'}}</p>
        </footer>
    </body>
</html>