#server-table {
    position: sticky;
    left: 35%;
    top: 1000px;
}

.dynamic {
    margin: 0 35%;
}

thead {
    text-align: center;
}

thead tr td {
    width: 300px;
}

.status-light {
    border: black 3px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    max-width: 30px;
    max-height: 30px;
}

.status {
    padding: 0 23%;
}

.up, .Up, .UP{
    background: greenyellow;
}

.maintenance, .Maintenance, .MAINTENANCE {
    background: yellow;
}

.down, .Down, .DOWN {
    background: red;
}