nav {
    display: flex;
    position: sticky;
    font-size: 1.5rem;
    margin-left: 1%;
}

#login-link {
    position: relative;
    left: 80%;
}

#bottom-of-page {
    text-align: right;
    margin-right: 20px;
}

#home-link img {
    max-width: 30px;
    width: auto;
    border: black 3px solid;
    border-radius: 25%;
    margin-top: 33%;
}

#help-statement {
    text-align: center;
}

html {
    font-family: Ariel, Helvetica, sans-serif;
    max-width: 100%;
}

body {
    width: auto;
    height: auto;
}

#top-image {
    max-width: 2%;
    border: black 2px solid;
    border-radius: 50%;
    padding: 0.3%;
}

.nav-link {
    display: block;
    padding: 0.5rem 1.5rem;
}