nav {
    display: flex;
    position: sticky;
    font-size: 1.5rem;
    margin-left: 1%;
}

#login-link {
    position: sticky;
    left: 1320px;
}

#bottom-of-page {
    text-align: right;
    margin-right: 20px;
}

#home-link img {
    max-width: 30px;
    width: auto;
    border: black 3px solid;
    border-radius: 25%;
    margin-top: 33%;
}

#help-statement {
    text-align: center;
}