nav ul li {
    display: inline-block;
    position: sticky;
}

.login-link {
    position: sticky;
    left: 1320px;
}

#bottom-of-page {
    text-align: right;
    margin-right: 20px;
}

#home-link img {
    max-width: 30px;
    width: auto;
    border: black 3px solid;
    border-radius: 25%;
}

nav ul li a {
    font-size: 1.5rem;
}