#server-table {
    position: sticky;
    margin: 5% 0 5% 30%;
}

thead {
    text-align: center;
}

thead tr td {
    width: 300px;
}

.status-light {
    border: black 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 5% 45%;
    background-color: greenyellow;
}

.up, .Up, .UP{
    background: greenyellow;
}

.maintenance, .Maintenance, .MAINTENANCE {
    background: yellow;
}

.down, .Down, .DOWN {
    background: red;
}

table, td {
    border: black 1px solid;
}

.server-name {
    text-align: center;
    padding-right: 0;
}

#last-checked {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.edit-btn {
    margin: 1%;
}

.manage-servers {
    text-align: right;
    width: auto;
    position: sticky;
    left: 85%;
}

#server-controls {
    display: flex;
    margin: 1%;
}